<form>
  <ul class="form-style">
    <li>
      <label>Nom du jeu</label>
      <input
        type="text"
        name="name"
        class="field-divided"
        [value]="form.name"
        (change)="setValue($event.target)"
      />
    </li>
    <li>
      <label>Subject</label>
      <select
        name="type"
        class="field-select"
        [value]="form.type"
        (change)="setValue($event.target)"
      >
        <option disabled>Choisi un type</option>
        <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
      </select>
    </li>
    <li>
      <label>Editeur de jeu</label>
      <input
        name="editor"
        type="text"
        class="field-divided"
        [value]="form.editor"
        (change)="setValue($event.target)"
      />
    </li>
    <li>
      <div class="button" (click)="filter()">Filter</div>
      <div class="button" (click)="reset()">Reset filter</div>
    </li>
  </ul>
</form>
