<app-game-list-filter (filtered)="filtering($event)"></app-game-list-filter>

<div class="buttons">
  <button (click)="changeCardWidth('-', 10)">-</button>
  <button (click)="changeCardWidth('+', 10)">+</button>
  <button (click)="resetCardWidth()">Reset</button>
</div>
<div
  class="card"
  *ngFor="let game of filteredGames"
  [style.width.px]="newCardWidth"
>
  <div class="header">
    <img [src]="game.coverImage" alt="rounded" class="rounded_img" />
    <h4>
      <b>{{ game.title }}</b>
    </h4>
    <p *ngFor="let genre of genres">{{ genre.name }}</p>
    <span>{{ game.note }}/10</span>
  </div>
  <img [src]="game.coverImage" alt="main_img" class="main_img" />
  <div class="desc">
    <p>{{ truncate(game.description) }}</p>
  </div>
  <p>{{ game.publisher.name }}</p>
  <p>{{ game.developer.name }}</p>
  <div>
    <button (click)="deleteGame(game.id)">Delete game</button>
  </div>
</div>
